<div
  class="google-map"
  center="map.center"
  events="map.events"
  draggable="true"
  dragging="map.dragging"
  zoom="map.zoom">

  <markers models="map.markers" coords="'self'" icon="'icon'" fit='map.fit' ng-if="map.fit">
  </markers>

  <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" ng-if="!map.fit">
  </marker>

  <polyline ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible="true"
            geodesic='false' editable="false" draggable="false"></polyline>
</div>

