<form id="add-point" ng-submit="add_point()">
  <select ng-model="new_point.type" ng-options="type.type as type.name for type in types"></select>
  <input type="text" ng-model="new_point.name" placeholder="Name of the new place">
</form>
<h1>My map</h1>
<div id="points">
  <div ng-repeat="point in points" class="point">
    <img ng-src="{{point.icon}}" />
    <h2>{{point.name}}</h2>
    <div class="actions">
      <a href="" ng-click="set_position(point)">Place</a>
      <a href="" ng-click="delete_point(point)">Delete</a>
    </div>
  </div>
</div>
