<!doctype html>
<html ng-app="trips" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trips!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div id="app" ui-view>
      <div class="loading"></div>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>

<script type="text/ng-template" id="app.html">
<section id="sidebar" ui-view="sidebar"></section>
<section id="main" ui-view="main"></section>

</script>
<script type="text/ng-template" id="load_save.html">
<div class="copy">
  To save the contents of your map just copy the following somewhere:
  <textarea>{{save_string}}</textarea>
  <br />
  To load old content, just paste it here and click the button.
  <textarea ng-model="load_string"></textarea>
  <button ng-click="load()">Load</button>
</div>

</script>
<script type="text/ng-template" id="map.html">
<div
  class="google-map"
  center="center"
  zoom="zoom"
  fit="{{fit}}"
  markers="markers"
  latitude="clickedLatitudeProperty"
  longitude="clickedLongitudeProperty"
  draggable="true"
  fit="false"
  events="eventsProperty">
</div>


</script>
<script type="text/ng-template" id="points.html">
<form id="add-point" ng-submit="add_point()">
  <select ng-model="new_point.type" ng-options="type.type as type.name for type in types"></select>
  <input type="text" ng-model="new_point.name" placeholder="Name of the new place">
</form>
<h1>My map</h1>
<div id="points">
  <div ng-repeat="point in points" class="point">
    <img ng-src="{{point.icon}}" />
    <h2>{{point.name}}</h2>
    <div class="actions">
      <a href="" ng-click="set_position(point)">Place</a>
      <a href="" ng-click="delete_point(point)">Delete</a>
    </div>
  </div>
</div>

</script>