<!doctype html>
<html ng-app="trips" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Trips!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=weather&sensor=false&language=en&v=3.13"></script>
    <script src="scripts/vendor.js"></script>
  </head>
  <body>
    <div id="app" ng-controller="AppCtrl">
      <section id="sidebar" ui-view="sidebar" ng-controller="PointsCtrl">
        <form id="add-point" ng-submit="add_point()">
          <select ng-model="new_point.type" ng-options="type.type as type.name for type in types"></select>
          <input type="text" ng-model="new_point.name" placeholder="Name of the new place">
        </form>
        <h1>My places</h1>
        <div id="points">
          <div ng-repeat="point in points" class="point">
            <img ng-src="{{point.icon}}" />
            <h2>{{point.name}}</h2>
            <div class="actions">
              <a href="" ng-click="zoom_location(point.latitude, point.longitude)">Zoom</a>
              <a href="" ng-click="set_position(point)">Place</a>
              <a href="" ng-click="delete_point(point)">Delete</a>
            </div>
          </div>
        </div>

        <h1>My routes<small><a href="#" ng-click="new_route()">Add</a></small></h1>
        <div id="routes">
          <div ng-repeat="route in routes" class="route">
            <div class="color" style="background-color: {{route.color}}"></div>
            <h2>
              <span ng-if="!route.editing">{{route.name}}</span>
              <form ng-if="route.editing" ng-submit="route.editing=false">
                <input type="text" ng-model="route.name" ng-required/>
              </form>
            </h2>
            <div class="actions">
              <a href="" ng-click="route.editing = true" ng-if="!route.editing">Rename</a>
              <a href="" ng-click="start_edit_route(route)" ng-if="editing_route != route">Edit</a>
              <a href="" ng-click="stop_edit_route()" ng-if="editing_route == route">Finish</a>
              <a href="" ng-click="delete_route(route)">Delete</a>
            </div>
          </div>
        </div>

      </section>

      <section id="main" ui-view="main" ng-controller="MapCtrl">
        <div
          class="google-map"
          center="map.center"
          events="map.events"
          draggable="true"
          dragging="map.dragging"
          options="map.options"
          zoom="map.zoom"
          bounds="map.bounds">

          <markers models="map.markers" coords="'self'" icon="'icon'" fit='map.fit' optimized="false" ng-if="map.fit" click="'on_clicked'">
          </markers>

          <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" optimized="false" ng-if="!map.fit" click="m.on_clicked()">
          </marker>


          <marker ng-repeat="m in map.search_results" coords="m" icon="m.icon" click="m.on_clicked()">
            <marker-label content="m.name" anchor="22 0" class="marker-labels"/>
            <!-- <window show="m.tooltip">
              <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
              <a href="#" ng-click="console.log(1)">Plane</a>
            </window> -->
          </marker>

          <polyline ng-repeat="p in map.polylines" path="p.path" stroke="p.stroke" visible="true"
                    geodesic='false' editable="false" draggable="false"></polyline>
        </div>
        <form ng-submit="search()">
          <input id="pac-input" type="text" placeholder="Search..." ng-model="search_text" />
        </form>
        <div id="search-tooltip" ng-if="clicked_search_marker">
          <a href="" class="close" ng-click="close_search_marker()">close</a>
          <h3>{{clicked_search_marker.name}}</h3>
          <p>
            Add it as:
            <a href="" ng-click="clicked_search_marker.add_point(type)" ng-repeat="(type, obj) in points_mapping">
              <img ng-src="{{obj.icon}}"/>
            </a>
          </p>
        </div>
      </section>
    </div>

    <script src="scripts/app.js"></script>
  </body>
</html>
