@import 'normalize';
@import 'flat-ui';

html, body, #app, #main { height: 100%; }
a{
  color: #1abc9c;
  text-decoration: none;
  &.current, &:hover{
    color: #116D5B;
  }
}

h1 small{
  font-size: .4em;
}

.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.angular-google-map {
  display: block;
  height: 100%;
}

// flexing
#app{
  display: flex;
}
#sidebar{
  width: 400px;
  display: flex;
  flex-direction: column;
}

#main{
  display: flex;
  flex: 1;
  position: relative;

  .google-map{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Points

#add-point{
  width: 100%;
  display: block;
  height: 37px + (20px * 2) + 1px;
  border-bottom: 2px solid #dce4ec;
  select{
    margin: 29px 5px 0px 15px;
    float: left;
  }
  input {
    margin: 20px 0px 20px 0px;
    display: block;
    float: left;
    width: 260px;
  }
}

#points, #routes {
  display: block;
  overflow-y: scroll;
  flex: 1;

  .point, .route {
    margin: 3px 5px;
    height: 32px;
    line-height: 32px;
    position: relative;


    img, .color{
      width: 32px;
      height: 32px;
      display: inline-block;
      float: left;
    }
    .color{
      border-radius: 5px;
    }
    h2{
      position: absolute;
      left: 32px;
      font-size: 1.2em;
      width: 230px;
      margin: 0;
    }
    .actions{
      float: right;
      text-align: right;
    }
  }
}

// Search


#pac-input {
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;

  position: absolute;
  top: 16px;
  left: 40px;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}


.marker-labels {
  background-color: white;
  border: 1px solid black;
  padding: 2px;
  border-radius: 2px;
  white-space: nowrap;
}

#search-tooltip {
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 5px;


  position: relative;
  width: 400px;
  height: 200px;
  margin: auto;
  .close{
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
